<div class = "top-container full-width">
  <mat-toolbar class = "app-bar">
    <mat-toolbar-row>
      <div class = "header-row full-width">
          <div class = "header-title">
            <span>{{title}}</span>
          </div>
          <div class = "header-nav">
            <a class = "route-text" routerLink = "about">About Us</a>
            <a class = "route-text" routerLink = "contact">Contact Us</a>
          </div>
          <div class = "header-user">
            <button
              mat-raised-button
              class = "gen-button"
              type="button"
              name="button"
              [routerLink]="'/login'"
            >
              Sign Up
            </button>
            <button
              mat-raised-button
              class = "gen-button"
              type="button"
              name="button"
              [routerLink]="'/login'"
            >
              Login
            </button>
          </div>
     </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet>
  </router-outlet>
</div>
